<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>Daniel Family IOT Portal v0.2</title>
</head>
<body>
<h1><strong>Daniel Family IOT Portal</strong></h1>
<%if message%>
	<p><strong>Status:</strong> <%=message%></p>
<%end%>
<table border="2">
<tbody>
<tr>
<td width="125">
<p><strong>Device</strong></p>
</td>
<td width="125">
<p><strong>On/Off Line</strong></p>
</td>
<td width="125">
<p><strong>Action</strong></p>
</td>
</tr>
<%listOfDevices().each do |device,devHash|%>
	<tr>
		<td width="125"> <%=device%> </td>
		<td width="125"> <%=devHash["$online"]%> </td>
		<td width="125"> <a href=/detail/<%=CGI.escape(device)%>>action</a> </td>
	</tr>
<%end%>
</tbody>
</table>
</body>
</html>
